@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
input[type="range"].slider-thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #14b8a6
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 20 20'%3E%3Cpath d='M8 6L4 10l4 4V6zM12 6v8l4-4-4-4z'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: 16px;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease;
}

input[type="range"].slider-thumb::-moz-range-thumb {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: #14b8a6
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='white' viewBox='0 0 20 20'%3E%3Cpath d='M8 6L4 10l4 4V6zM12 6v8l4-4-4-4z'/%3E%3C/svg%3E")
    no-repeat center;
  background-size: 16px;
  border: none;
  cursor: pointer;
}
